<header>
  <nav id="nav-menu">
    <span class="nav-logo">WikiMaps</span>
    <div id="nav-right">
      <!-- When user is logged in -->
 <!-- <a class="nav-status">Logged in as User1</a>
      <a id="new-map-button" class="nav-button">New Map</a>
      <a id="log-out-button" class="nav-button">Log Out</a> -->
      
      <!-- When user first browse to the page, logged in as guest by default -->
 <a class="nav-status">Viewing as Guest</a>
      <a id="new-map-button" class="nav-button">New Map</a>
      <a id="sign-up-button" class="nav-button">Sign Up</a>
      <a id="log-in-button" class="nav-button">Log In</a>
    </div>
  </nav>
</header>