<header>
  <!-- <a id="logo" href="/">WikiMaps</a> -->
  <nav id="nav-menu">
    <!-- <a class="navbar-brand" href="/urls">WikiMaps</a> -->
    <div class="navbar-brand">WikiMaps</div>
    <div id="nav-right">
      <div class="nav-status">Logged in as User1</div>
      <button id="new-map">
        <span class="new-map-button">New map</span>
      </button>
    </div>
  </nav>
</header>