<header>
  <nav id="nav-menu">
    <a class="nav-logo" href="/">WikiMaps</a>
    <div id="nav-right">

      <!-- When user first browse to the page, logged in as guest by default -->
 <a class="nav-status">Viewing as Guest</a>
      <a id="sign-up-button" class="nav-button" href="/users/signup">Sign Up</a>
      <a id="log-in-button" class="nav-button" href="/users/login">Log In</a>
    </div>
  </nav>
</header>
