<header>
  <nav id="nav-menu">
    <a class="nav-logo">WikiMaps</a>
    <div id="nav-right">
      <a class="nav-status">Logged in as User1</a>
      <a id="new-map-button" class="nav-button">New Map</a>
      <a id="log-out-button" class="nav-button">Log Out</a>
    </div>
  </nav>
</header>