<header>
  <nav id="nav-menu">
    <a class="nav-logo" href="/">WikiMaps</a>
    <div id="nav-right">
      <!-- When user is logged in -->

 <a class="nav-status">Logged In as HappyMapper!</a>
      <a id="new-map-button" class="nav-button">New Map</a>
      <a id="log-out" class="nav-button" href="/">Log Out</a>
    </div>
  </nav>
</header>
