<!--
  Need to add condition to remove 'disabled readonly' class for logged in users
  If user is allowed to create map (logged in user)
-->
<div class="sidebar-pane" id="map-tab">
  <h1 class="sidebar-header"
    >Map Tab<span class="sidebar-close"><i class="fa fa-caret-left"></i></span
  ></h1>
  <br>
  <h3>Create New Map</h3>
<form id="mapForm">
  <div id="marker-list">
    <br />
    <label class="label" for="title">TITLE</label>
    <input
      class="form-control"
      type="text"
      placeholder="Title"
      id="title"
      name="title"
    />

    <label class="label" for="map-description">DESCRIPTION</label>
    <div class="form-floating">
      <textarea
        id="map-description"
        class="form-control"
        placeholder="Description"
      ></textarea>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="private" />
      <label class="form-check-label" for="private"> Private </label>
    </div>
    <ul></ul>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</div>

</form>
  