<div class="sidebar-pane" id="profile">
  <h1 class="sidebar-header"
    >Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span
  ></h1>

  <!-- For logged in users: -->
  <h4>MY MAPS</h4>
  <p>My Map list</p>
  <h4>FAVOURTIES</h4>
  <p>Favourties list</p>
  <h4>CONTRIBUTIONS</h4>

</div>
