<div class="sidebar-pane" id="discover-tab">
  <h1 class="sidebar-header">Discover tab<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
  <br>
  <p>List of public maps here</p>
</div>