  <!-- For logged in users only -->
<div class="sidebar-pane" id="fav-tab">
  <h5 class="sidebar-header"
    >Favourites<span class="sidebar-close"><i class="fa fa-caret-left"></i></span
  ></h5>
  
  <br>
  <h5>Favourites <i class="fa-solid fa-heart"></i></h5>
  <div id="my-fav-list"></div>

  <br>
</div>