<!-- 
  Need to add condition to remove 'disabled readonly' class for logged in users
  If user is allowed to create map (logged in user) 
-->
<div class="sidebar-pane" id="map-tab">
  <h1 class="sidebar-header">Map Tab<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
  <h4>TITLE</h4>
<input class="form-control" type="text" value="Title" disabled readonly>
<h4>DESCRIPTION</h4>
<div class="form-floating">
  <textarea id="description-text" class="form-control" placeholder="Description" disabled readonly></textarea>
</div>
<br>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="privacy-checkbox" value="privacy-checkbox" disabled>
  <label class="form-check-label" for="privacy-checkbox">Private</label>
</div>

<br><br>

<div>
  <h4>POINTS</h4>
  <ul class="list-group">
    <li class="list-group-item">Will need more work here once we have point data to test with</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

</div>
</div>
