<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#panel-map-tab">Map Details</a></li>
  <li><a data-toggle="tab" href="#panel-profile-tab">My Profile</a></li>
  <li><a data-toggle="tab" href="#panel-discover-tab">Discover 🌎</a></li>
</ul>

<div class="tab-content">
  <div id="panel-map-tab" class="tab-pane fade in active">
    <h4>TITLE</h4>
    <input class="form-control" type="text" value="Title" disabled readonly>
    <!-- If user is allowed to create map (logged in user)
    <input class="form-control form-control-sm" type="text" placeholder="Title"> -->
    <h4>DESCRIPTION</h4>
    <div class="form-floating">
      <textarea id="description-text" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
      
    </div>
  </div>
  <div id="panel-profile-tab" class="tab-pane fade">
    <h4>New to WikiMaps?</h4>
    <p #="sign-up-prompt">Sign up to create a profile so that you can create maps, keep track of your favourite maps, and contribute to public maps!</p>
    <button type="button" class="btn btn-primary">Sign Up</button>
    <h4>Existing User?</h4>
    <p>Welcome Back!</p>
    <button type="button" class="btn btn-primary">Log In</button>

    <!-- For logged in users: 
    <h4>MY MAPS</h4>
    <p>My Map list</p>
    <h4>FAVOURTIES</h4>
    <p>Favourties list</p>
    <h4>CONTRIBUTIONS</h4>
    -->

  </div>
  <div id="panel-discover-tab" class="tab-pane fade">
    <h4>DISCOVER</h4>
    <p>List of public maps here</p>
  </div>
</div>