<div class="sidebar-pane" id="view-tab">
  <h5 class="sidebar-header">
    View Map<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1>
  <br>
  <h5>Map Details <i class="fa-solid fa-eye"></i></h5>
  <form id="map-details">
    <br>
    <h6>*Nothing to see right now.</h6>
    <br>
    <p>If a map is selected, should see something like the following:</p>
    <div id="map-info-div">
      <br>
      <h5>Map title</h5>
      <br>
      <h5>Map description</h5>
      <br>
    </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="private" disabled readonly/>
        <label class="form-check-label" for="private"> Private </label>
      </div>
      <ul></ul>
    <button type="submit" class="btn btn-success" disabled>Save</button>
  </form>
</div>