<div class="sidebar-pane" id="profile">
  <h1 class="sidebar-header"
    >Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span
  ></h1>

  <!-- When user is not logged in -->
  <% if (username === undefined) { %>
  <form action="/users/signup" method="GET">
    <h4>New to WikiMaps?</h4>
    <p #="sign-up-prompt"
      >Sign up to create a profile so that you can create maps, keep track of
      your favorite maps, and contribute to public maps!</p
    >
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

  <form action="/users/login" method="GET">
    <h4>Existing User?</h4>
    <p>Welcome Back!</p>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  <% } else { %>
  <!-- For logged in users: -->
  <br>
  <h5>My Maps <i class="fa-solid fa-map"></i></h5>
  <br>
  <div id="my-maps-list"></div>
  
  <br>
  <h5>Contributions <i class="fa-solid fa-comment"></i></h5>
  <br>
  <div id="my-contrib-list"></div>
  <% } %>
</div>
