<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <title>WikiMaps</title>
  <%- include('partials/_head-auth') %>

</head>

<body>
  <%- include('partials/_header-auth') %>

  <section id="main-content">
    <%- include('partials/_sidebarV2-auth') %>

    <div id="map"
    class="sidebar-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    tabindex="0">
    </div>

  </section>

</body>

</html>
