<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <%- include('partials/_head') %>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="login-container">
      <form class="login-form" method="get" action="/login">
        <h2>Login</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <!-- <button type="submit">Login</button> -->
        <a id="log-in-redirect" type="button" class="button nav-button" href="/authenticated/HappyMapper">Log In</a>
      </form>
    </div>
  </body>
</html>
