@import "nav-bar";
@import "sidebar";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#main-content {
  margin-top: 48px;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  position: relative;
  
  #map { 
    height: 876px;
    width: 100%;
  }
}