/*
 * Sidebar (leaflet plugin)
 */

h4 {
  margin-top: 1em;
}

.sign-up-prompt {
  margin-top: 1em;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* O el ancho que prefieras */
  max-width: 600px; /* O el máximo ancho que prefieras */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 90%; /* Ancho del input */
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px; /* Bordes redondeados en los inputs */
  box-sizing: border-box;
}

textarea {
  height: 100px;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #4caf50; /* Color del botón */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px; /* Bordes redondeados en el botón */
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.label {
  font-weight: 500;
}


/* Single Card Style */
.card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-width: 280px;
  max-width: 350px;
  min-height: 100px;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transition: all 0.5s;
  background-color: rgb(222, 240, 255);
  scale: 1.1;
}

.card {
  height: 20px;
  margin-bottom: 10px;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.countryName {
  font-weight: 700;
  list-style-type: none;
}

/* Filter Invisible */
.hidden {
  display: none;
}

.map-list-item {
  all: unset;
  margin:0.5em;
}

.map-list-item:hover {
  all: unset;
}

.map-card {
  display: flex;
  flex-direction: column;
  background-color: invisible;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1.2em;
    color: #17406c
  }
  b {
    font-size: 1.1em;
  }
}

.item-bar {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  margin-bottom: 1em;
  a, span{
    text-decoration: none;
    color: #17406c;
    i {
      font-size: 1.2em;
    }
  }
  button:focus {
    outline: none;
  }
  .icon-button:hover {
    background: transparent;
  }
}

.action-item:hover {
  transition: all 0.5s;
  scale: 1.4;
  color: goldenrod;
  background: transparent;
  cursor: pointer;
}

.icon-button {
  /* Remove default button styles */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

